page-login {
    .login-content {
        background-image: url('../assets/imgs/background-sized.png');
        background-repeat: no-repeat;
        background-size:cover;
        .logo-row {
            padding-top: 50px;
            padding-bottom: 20px;
        }
        .login-box {
            padding: 20px 0px 0px 0px;
            margin-top: 30px;
        }
        .login-input {
            border-radius: 30px !important;
            padding-left: 30px !important;
            font-size:1.5em;
            margin-bottom: 10px;
            border: 2px solid #F20A0A;
        }
        .login-input::-webkit-input-placeholder {
            color: #F20A0A;
        }
        ion-row {
            align-items: center;
            text-align: center;
        }
        /*
        ion-item {
            border-radius: 30px !important;
            padding-left: 30px !important;
            //font-size: 0.9em;
            margin-bottom: 10px;
            border: 1px solid #F20A0A;
            border-bottom: 0px !important;
            box-shadow: none !important;
        }
        */
        .signup-col {
            margin: 0px 16px 0px 16px;
            padding-bottom: 20px;
        }
        .item-inner {
            border-bottom-color: #ffffff !important;
            box-shadow: none !important;
        }
        .submit-btn {
            background: #F20A0A;
            border-radius: 30px !important;
            border: 1px solid #F20A0A;
            font-size:1.5em;
            color:#FFF;
            opacity:unset;
            font-weight: bold;
        }
        .submit-btn:hover{
            background-color: #F20A0A !important;
        }
        .register-btn {
            color: #F20A0A;
            font-size: 0.8em;
        }
    }
}