page-cart {
    .toolbar-background {
        background-color:#F20A0A;
    }
    .toolbar-title {
        color: #FFF;
        position: absolute;
        width: 100%;
        left: 0;
        text-align:center;
    }
    
    .titleicon {
        position: absolute;
        width: 50%;
        left: 25%;
        bottom: 0;
        text-align:center;
    }
    
    .card-background-page {
      ion-card {
        position: relative;
        text-align: center;
      }

      .card-title {
        position: absolute;
        top: 36%;
        font-size: 2.0em;
        width: 100%;
        font-weight: bold;
        color: #fff;
      }

      .card-subtitle {
        font-size: 1.0em;
        position: absolute;
        top: 52%;
        width: 100%;
        color: #fff;
      }

    }

    .merchant-menu-content {
    .logo-row {
        margin:-20px;
        padding-bottom: 20px;
    }
    ion-row {
        align-items: center;
        text-align: center;
    }
    p { 
        word-break: break-all;
        white-space: normal;
    }
    ion-icon {
        font-size:31px;
    }
    }
    

    .order-btn {
        background: #F20A0A;
        border: 1px solid #F20A0A;
        font-size:1.5em;
        color:#FFF;
        opacity:unset;
        font-weight: bold;
    }
    .order-btn:hover{
        background-color: #F20A0A !important;
    }

}
