page-search {
    .spinner-container {
        width: 100%;
        text-align: center;
        padding: 10px;
    }
    .toolbar-background {
        background-color:#F20A0A;
    }
    .toolbar-title {
        color: #FFF;
        position: absolute;
        width: 100%;
        left: 0;
        text-align:center;
    }
    
    .titleicon {
        position: absolute;
        width: 50%;
        left: 25%;
        bottom: 0;
        text-align:center;
    }
    
    .searchbar-input {
        border-radius: 30px !important;
        padding-left: 43px !important;
        border: 1px solid #ffffff;
        border-bottom: 0px !important;
        box-shadow: none !important;
    }
    
    .card-background-page {
      ion-card {
        position: relative;
        text-align: center;
      }

      .card-title {
        position: absolute;
        top: 36%;
        font-size: 2.0em;
        width: 100%;
        font-weight: bold;
        color: #fff;
      }

      .card-subtitle {
        font-size: 1.0em;
        position: absolute;
        top: 52%;
        width: 100%;
        color: #fff;
      }

    }

    .merchant-menu-content {
    .logo-row {
        margin:-20px;
        padding-bottom: 20px;
    }
    ion-row {
        align-items: center;
        text-align: center;
    }
    p { 
        word-break: break-all;
        white-space: normal;
    }
    ion-icon {
        font-size:31px;
    }
    }
    ion-thumbnail img {
        background-image:url('https://firebasestorage.googleapis.com/v0/b/telfood-81ef2.appspot.com/o/default-image-thumb.jpeg?alt=media&token=0027925a-acc7-4df7-a5bd-90711c2ed581');
        width:80px;
    }

}
