<ion-header>
  <ion-navbar>
    <button ion-button menuToggle *ngIf="auth.getUserInfo().user_type == 'user'">
      <ion-icon name="menu" color="dark"></ion-icon>
    </button>
      <div class="titleicon">
          <img src="assets/imgs/logo-white.png" width="100px"/>
      </div>
      <ion-buttons end *ngIf="auth.getUserInfo().user_type == 'user'">
          <button ion-button icon-only (click)="cart()">
              <ion-icon name="cart" color="dark"></ion-icon>
          </button>
      </ion-buttons>
  </ion-navbar>
  <ion-toolbar *ngIf="auth.getUserInfo().user_type == 'user'">
      <ion-searchbar [(ngModel)]="searchTerm" (ionInput)="search($event)" placeholder="What would you like to eat ?"></ion-searchbar>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <div *ngIf="searching" class="spinner-container">
        <ion-spinner></ion-spinner>
    </div>
    <ion-list>
      <ion-item *ngFor="let menu of menus; index as i">
        <ion-thumbnail item-start>
          <img src="{{menu.photo}}">
        </ion-thumbnail>
        <h2>{{menu.title}}</h2>
        <p>{{menu.description}}</p>
        <br/>
        <h2>Rp.{{menu.price | number:0}}</h2>
        <button ion-button clear item-end (click)="addToCart(menu)">
            <ion-icon name="add-circle" color="danger"></ion-icon>
        </button>
      </ion-item>
    </ion-list>
</ion-content>
